html {
  box-sizing: border-box;
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Mobile First */
/* ---------------------------- */

/* ------------- Start Mobile General Body --------------- */
body {
  background-color: #070035;
  color: white;
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  display: grid;
}

/* ------------- End Mobile General Body --------------- */

/* -------------Start Mobile Header & Links --------------- */

header {
  display: flex;
  margin: 0.5em;
  justify-content: space-around;
}

.personal-brand {
  display: flex;
  align-items: center;
}

.personal-brand img {
  max-height: 4.375em;
}

.brand-text {
  margin-left: 0.75em;
  line-height: 1.75em;
}

.page-title {
  margin: 0;
  font-size: 1.75em;
  font-weight: bold;
}

.page-author {
  margin: 0;
  font-size: 1.25em;
}

.nav-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: end;
  align-items: flex-end;
  justify-content: flex-end;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: darkkhaki;
}

a:link {
  color: coral;
}

a:visited {
  color: coral;
}

a:hover {
  text-decoration: underline;
  color: chocolate;
}

a:active,
.question-link:active {
  color: gold;
}

/* ------------- End Mobile Header & Links --------------- */

/* ------------- Start Mobile Main --------------- */
main {
  display: flex;
  flex-direction: column;
}

/* ------------- Start Mobile Banner --------------- */
.banner-top,
.banner-bottom {
  background: #2e2cac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.banner-top {
  background-image: url(../img/banners/banner_top.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
}

.overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  z-index: 2;
  line-height: 1.5em;
}

.banner-bottom {
  padding: 1.5em;
}

#random-message {
  display: none;
  margin: 0 2em 1em 2em;
  border-radius: 1em;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.3);
}

#random-button {
  background-color: green; /* Green */
  border: none;
  color: whitesmoke;
  font-weight: bold;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* ------------- End Mobile Banner --------------- */

/* ------------- Start Mobile Main Container --------------- */
.main-container {
  display: flex;
  margin: 0;
}

.content {
  background-color: whitesmoke;
  color: #070035;
}

/* ------------- Start Mobile Sections --------------- */

#About,
#Projects,
#Skills {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.175em solid #070035;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

/* ------------- Start Mobile About --------------- */
.info-card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.info-image {
  display: flex;
  max-height: 18em;
  min-width: 15em;
  margin: 0;
}

.info-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}
/* ------------- End Mobile About --------------- */

/* ------------- Start Mobile Projects --------------- */
#Projects {
  text-align: center;
}
.cards-container {
  display: flex;
  flex-direction: column;
}

.project-card,
.skill-card {
  display: flex;
  border: 1px solid #070035;
  border-radius: 1em;
  margin: 1em;
  background-color: #fbffde;
}

.project-card figure {
  max-width: 18em;
  overflow: hidden;
  margin: 1.75em;
}
.project-card img {
  width: 100%;
  height: auto;
}

summary {
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.5em;
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
/* ------------- End Mobile Projects --------------- */

/* ------------- Start Mobile Skills --------------- */
#Skills {
  text-align: center;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.skill-card figure {
  max-width: 6.5em;
  min-height: 10em;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  margin: 1.25em;
}

.skill-card img {
  min-height: 3em;
  max-height: 3.5em;
  width: 100%;
  height: auto;
}

/* ------------- End Mobile Skills --------------- */

/* ------------- Start Mobile Contact --------------- */
.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.social-media figure {
  max-width: 5em;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  margin: 1.25em;
}

.social-media img {
  max-height: 3em;
}
/* ------------- End Mobile Contact --------------- */

/* ------------- End Mobile Sections --------------- */

/* ------------- End Mobile Main Container --------------- */

/* ------------- End Mobile Main --------------- */

/* ------------- Start Mobile Footer --------------- */
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 2.5em;
  margin: 1.5em;
}
/* ------------- End Mobile Footer --------------- */

/* ---------------------------- */

/* Desktop */
@media screen and (min-width: 1024px) {
  /* -------------Start Desktop Header & Links --------------- */
  header {
    margin: 2.5em;
    justify-content: space-between;
  }
  .brand-text {
    margin-left: 2.5em;
    line-height: 2.5em;
  }

  .page-title {
    font-size: 2.25em;
  }

  .page-author {
    font-size: 1.75em;
  }

  nav {
    display: flex;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: space-around;
  }

  .nav-item {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
  }
  /* -------------End Desktop Header & Links --------------- */

  /* ------------- Start Desktop Main --------------- */
  /* ------------- Start Desktop Banner --------------- */
  .banner-top {
    height: 25em;
  }

  .overlay:before {
    height: 25em;
  }
  .overlay * {
    position: relative;
  }

  h1 {
    font-size: 3em;
  }
  /* ------------- End Desktop Banner --------------- */
  /* ------------- Start Desktop Main Container --------------- */
  .main-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
  }
  /* ------------- Start Desktop Sections --------------- */

  #About,
  #Projects,
  #Skills {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ------------- Start Desktop About --------------- */
  .info-card-left {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
  /* ------------- End Desktop About --------------- */

  /* ------------- Start Desktop Projects --------------- */

  .cards-container {
    flex-direction: row;
  }

  /* ------------- End Desktop Projects --------------- */

  /* ------------- Start Desktop Skills --------------- */

  /* ------------- End Desktop Skills --------------- */

  /* ------------- End Desktop Sections --------------- */

  /* ------------- End Desktop Main Container --------------- */
  /* ------------- End Desktop Main --------------- */

  /* ------------- Start Desktop Footer --------------- */

  /* ------------- End Desktop Footer --------------- */
}
